# Set the environment

In [1]:
%pip install opendatasets

Collecting opendatasets
  Obtaining dependency information for opendatasets from https://files.pythonhosted.org/packages/00/e7/12300c2f886b846375c78a4f32c0ae1cd20bdcf305b5ac45b8d7eceda3ec/opendatasets-0.1.22-py3-none-any.whl.metadata
  Downloading opendatasets-0.1.22-py3-none-any.whl.metadata (9.2 kB)
Requirement already satisfied: tqdm in /home/xiangivyli/anaconda3/lib/python3.11/site-packages (from opendatasets) (4.65.0)
Collecting kaggle (from opendatasets)
  Downloading kaggle-1.6.6.tar.gz (84 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 84.6/84.6 kB 5.7 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: click in /home/xiangivyli/anaconda3/lib/python3.11/site-packages (from opendatasets) (8.0.4)
Requirement already satisfied: six>=1.10 in /home/xiangivyli/anaconda3/lib/python3.11/site-packages (from kaggle->opendatasets) (1.16.0)
Requirement already satisfied: certifi in /home/xiangivyli/anaconda3/lib/python3.11/site-packages (from kaggle->opendatasets) (2023.7.22)
Requirement already satisfied: python-dateutil in /home/xiangivyli/anaconda3/lib/python3.11/site-packages (from kaggle->opendatasets) (2.8.2)
Requirement already satisfied: requests in /home/xiangivyli/anaconda3/lib/python3.11/site-packages (from kaggle->opendatasets) (2.31.0)
Requirement already satisfied: python-slugify in /home/xiangivyli/anaconda3/lib/python3.11/site-packages (from kaggle->opendatasets) (5.0.2)
Requirement already satisfied: urllib3 in /home/xiangivyli/anaconda3/lib/python3.11/site-packages (from kaggle->opendatasets) (1.26.16)
Requirement already satisfied: bleach in /home/xiangivyli/anaconda3/lib/python3.11/site-packages (from kaggle->opendatasets) (4.1.0)
Requirement already satisfied: packaging in /home/xiangivyli/anaconda3/lib/python3.11/site-packages (from bleach->kaggle->opendatasets) (23.1)
Requirement already satisfied: webencodings in /home/xiangivyli/anaconda3/lib/python3.11/site-packages (from bleach->kaggle->opendatasets) (0.5.1)
Requirement already satisfied: text-unidecode>=1.3 in /home/xiangivyli/anaconda3/lib/python3.11/site-packages (from python-slugify->kaggle->opendatasets) (1.3)
Requirement already satisfied: charset-normalizer<4,>=2 in /home/xiangivyli/anaconda3/lib/python3.11/site-packages (from requests->kaggle->opendatasets) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in /home/xiangivyli/anaconda3/lib/python3.11/site-packages (from requests->kaggle->opendatasets) (3.4)
Downloading opendatasets-0.1.22-py3-none-any.whl (15 kB)
Building wheels for collected packages: kaggle
  Building wheel for kaggle (setup.py) ... done
  Created wheel for kaggle: filename=kaggle-1.6.6-py3-none-any.whl size=111945 sha256=37f59fb3942938b11d4bbf127125aab38c24f3855946c04efe61a7858e5047c9
  Stored in directory: /home/xiangivyli/.cache/pip/wheels/97/06/54/3d44857e6aa73d66d0174f29389e7ea70c007105797e6ec05c
Successfully built kaggle
Installing collected packages: kaggle, opendatasets
Successfully installed kaggle-1.6.6 opendatasets-0.1.22
Note: you may need to restart the kernel to use updated packages.

In [12]:
%pip install pyspark --upgrade pyspark pandas

Requirement already satisfied: pyspark in /home/xiangivyli/spark/spark-3.3.2-bin-hadoop3/python (3.3.2)
Collecting pyspark
  Downloading pyspark-3.5.1.tar.gz (317.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.0/317.0 MB 2.7 MB/s eta 0:00:0000:0100:01
  Preparing metadata (setup.py) ... done
Requirement already satisfied: pandas in /home/xiangivyli/anaconda3/lib/python3.11/site-packages (2.0.3)
Collecting pandas
  Obtaining dependency information for pandas from https://files.pythonhosted.org/packages/d4/47/1ccf9f62d2674d3ca3e95452c5f9dd114234d1535dec77c96528bf6a31fc/pandas-2.2.1-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata
  Downloading pandas-2.2.1-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (19 kB)
Collecting py4j==0.10.9.7 (from pyspark)
  Obtaining dependency information for py4j==0.10.9.7 from https://files.pythonhosted.org/packages/10/30/a58b32568f1623aaad7db22aa9eafc4c6c194b429ff35bdc55ca2726da47/py4j-0.10.9.7-py2.py3-none-any.whl.metadata
  Downloading py4j-0.10.9.7-py2.py3-none-any.whl.metadata (1.5 kB)
Requirement already satisfied: numpy<2,>=1.23.2 in /home/xiangivyli/anaconda3/lib/python3.11/site-packages (from pandas) (1.24.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/xiangivyli/anaconda3/lib/python3.11/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /home/xiangivyli/anaconda3/lib/python3.11/site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.7 in /home/xiangivyli/anaconda3/lib/python3.11/site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in /home/xiangivyli/anaconda3/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Downloading py4j-0.10.9.7-py2.py3-none-any.whl (200 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 200.5/200.5 kB 30.4 MB/s eta 0:00:00
Downloading pandas-2.2.1-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (13.0 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 13.0/13.0 MB 77.6 MB/s eta 0:00:00:00:0100:01
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.1-py2.py3-none-any.whl size=317488496 sha256=586a162acaef3999c63c269c7e455adf04cdad8df241bbb275877cfeac377bbb
  Stored in directory: /home/xiangivyli/.cache/pip/wheels/95/13/41/f7f135ee114175605fb4f0a89e7389f3742aa6c1e1a5bcb657
Successfully built pyspark
Installing collected packages: py4j, pyspark, pandas
  Attempting uninstall: py4j
    Found existing installation: py4j 0.10.9.5
    Uninstalling py4j-0.10.9.5:
      Successfully uninstalled py4j-0.10.9.5
  Attempting uninstall: pyspark
    Found existing installation: pyspark 3.3.2
    Can't uninstall 'pyspark'. No files were found to uninstall.
  Attempting uninstall: pandas
    Found existing installation: pandas 2.0.3
    Uninstalling pandas-2.0.3:
      Successfully uninstalled pandas-2.0.3
Successfully installed pandas-2.2.1 py4j-0.10.9.7 pyspark-3.5.1
Note: you may need to restart the kernel to use updated packages.

## 1. Libraries

In [1]:
import os
import opendatasets as od
import pandas as pd
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, IntegerType, FloatType, StringType, TimestampType

/home/xiangivyli/anaconda3/lib/python3.11/site-packages/pandas/core/arrays/masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

In [2]:
spark = SparkSession.builder \
    .master("local[*]") \
    .appName("test") \
    .config("spark.sql.debug.maxToStringFields", 100) \
    .config("spark.sql.parquet.int96RebaseModeInWrite", "LEGACY") \
    .getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

24/03/24 21:30:04 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

## 2. Download Dataset

In [4]:
dataset_url = "https://www.kaggle.com/datasets/arshkon/linkedin-job-postings?resource=download"
download_path = "./data"

In [5]:
#enter username & key downloaded from https://kaggle.com/me/account create new api token
od.download(dataset_url, data_dir=download_path)

Please provide your Kaggle credentials to download this dataset. Learn more: http://bit.ly/kaggle-creds
Your Kaggle username:Your Kaggle username:Your Kaggle Key:Downloading linkedin-job-postings.zip to ./data/linkedin-job-postings

100%|██████████| 44.9M/44.9M [00:01<00:00, 30.8MB/s]

In [2]:
!tree

.
├── README.md
├── data
│   └── linkedin-job-postings
│       ├── company_details
│       │   ├── companies.csv
│       │   ├── company_industries.csv
│       │   ├── company_specialities.csv
│       │   └── employee_counts.csv
│       ├── job_details
│       │   ├── benefits.csv
│       │   ├── job_industries.csv
│       │   ├── job_skills.csv
│       │   └── salaries.csv
│       ├── job_postings.csv
│       └── maps
│           ├── industries.csv
│           └── skills.csv
└── kaggle_data_extraction.ipynb

5 directories, 13 files

In [7]:
def list_files(startpath):
    for root, dirs, files in os.walk(startpath):
        level = root.replace(startpath, '').count(os.sep)
        indent = ' ' * 4 * (level)
        print(f"{indent}{os.path.basename(root)}/")
        subindent = ' ' * 4 * (level + 1)
        for f in files:
            print(f"{subindent}{f}")

list_files('.')

./
    kaggle_data_extraction.ipynb
    README.md
    data/
        linkedin-job-postings/
            job_postings.csv
            maps/
                skills.csv
                industries.csv
            company_details/
                employee_counts.csv
                companies.csv
                company_specialities.csv
                company_industries.csv
            job_details/
                job_industries.csv
                job_skills.csv
                benefits.csv
                salaries.csv

In [8]:
def get_size(start_path = '.'):
    total_size = 0
    for dirpath, dirnames, filenames in os.walk(start_path):
        for f in filenames:
            if f.endswith('.csv'):
                fp = os.path.join(dirpath, f)
                total_size += os.path.getsize(fp)
    return total_size

def print_file_sizes(start_path = '.'):
    for dirpath, dirnames, filenames in os.walk(start_path):
        print(f"Directory: {dirpath}")
        for f in filenames:
            if f.endswith('.csv'):
                fp = os.path.join(dirpath, f)
                size = os.path.getsize(fp)
                print(f"    {f} - {size} bytes")
        print()  # Print a newline for readability

# Set the start path to your data directory
data_directory = 'data/'  # Adjust this to the path where your data resides
print_file_sizes(data_directory)

Directory: data/

Directory: data/linkedin-job-postings
    job_postings.csv - 134845243 bytes

Directory: data/linkedin-job-postings/maps
    skills.csv - 679 bytes
    industries.csv - 6292 bytes

Directory: data/linkedin-job-postings/company_details
    employee_counts.csv - 416749 bytes
    companies.csv - 10953429 bytes
    company_specialities.csv - 2036857 bytes
    company_industries.csv - 390677 bytes

Directory: data/linkedin-job-postings/job_details
    job_industries.csv - 666212 bytes
    job_skills.csv - 925814 bytes
    benefits.csv - 840280 bytes
    salaries.csv - 731493 bytes

In [9]:
def print_csv_row_counts(start_path='.'):
    for dirpath, _, filenames in os.walk(start_path):
        for f in filenames:
            if f.endswith('.csv'):
                file_path = os.path.join(dirpath, f)
                try:
                    df = pd.read_csv(file_path)
                    print(f"{file_path}: {len(df.index)} rows")
                except pd.errors.EmptyDataError:
                    print(f"{file_path}: Empty")
                except Exception as e:
                    print(f"{file_path}: Failed to read ({e})")

# Set the start path 
data_directory = 'data/'  
print_csv_row_counts(data_directory)

data/linkedin-job-postings/job_postings.csv: 33246 rows
data/linkedin-job-postings/maps/skills.csv: 35 rows
data/linkedin-job-postings/maps/industries.csv: 229 rows
data/linkedin-job-postings/company_details/employee_counts.csv: 14275 rows
data/linkedin-job-postings/company_details/companies.csv: 11361 rows
data/linkedin-job-postings/company_details/company_specialities.csv: 78405 rows
data/linkedin-job-postings/company_details/company_industries.csv: 12601 rows
data/linkedin-job-postings/job_details/job_industries.csv: 44091 rows
data/linkedin-job-postings/job_details/job_skills.csv: 56591 rows
data/linkedin-job-postings/job_details/benefits.csv: 29325 rows
data/linkedin-job-postings/job_details/salaries.csv: 13352 rows

## 3. Read data and check schema

### job_postings.csv fact table

In [3]:
# Define the Spark schema
job_postings_schema = StructType([
    StructField("job_id", IntegerType(), True),
    StructField("company_id", IntegerType(), True),
    StructField("title", StringType(), True),
    StructField("description", StringType(), True),
    StructField("max_salary", FloatType(), True),
    StructField("med_salary", FloatType(), True),
    StructField("min_salary", FloatType(), True),
    StructField("pay_period", StringType(), True),
    StructField("formatted_work_type", StringType(), True),
    StructField("location", StringType(), True),
    StructField("applies", IntegerType(), True),
    StructField("original_listed_time", TimestampType(), True),
    StructField("remote_allowed", StringType(), True),
    StructField("views", IntegerType(), True),
    StructField("job_posting_url", StringType(), True),
    StructField("application_url", StringType(), True),
    StructField("application_type", StringType(), True),
    StructField("expiry", TimestampType(), True),
    StructField("closed_time", TimestampType(), True),
    StructField("formatted_experience_level", StringType(), True),
    StructField("skills_desc", StringType(), True),
    StructField("listed_time", TimestampType(), True),
    StructField("posting_domain", StringType(), True),
    StructField("sponsored", IntegerType(), True),
    StructField("work_type", StringType(), True),
    StructField("currency", StringType(), True),
    StructField("compensation_type", StringType(), True),
    StructField("scraped", IntegerType(), True)
])

In [4]:
df_posting = spark.read \
    .option("header", "true") \
    .schema(job_postings_schema) \
    .csv("./data/linkedin-job-postings/job_postings.csv") 


df_posting.show(10)

+------+----------+--------------------+--------------------+----------+----------+----------+----------+-------------------+--------+-------+--------------------+--------------+-----+---------------+---------------+----------------+------+-----------+--------------------------+-----------+-----------+--------------+---------+---------+--------+-----------------+-------+
|job_id|company_id|               title|         description|max_salary|med_salary|min_salary|pay_period|formatted_work_type|location|applies|original_listed_time|remote_allowed|views|job_posting_url|application_url|application_type|expiry|closed_time|formatted_experience_level|skills_desc|listed_time|posting_domain|sponsored|work_type|currency|compensation_type|scraped|
+------+----------+--------------------+--------------------+----------+----------+----------+----------+-------------------+--------+-------+--------------------+--------------+-----+---------------+---------------+----------------+------+-----------+--------------------------+-----------+-----------+--------------+---------+---------+--------+-----------------+-------+
|  null|    553718|Hearing Care Prov...|            Overview|      null|      null|      null|      null|               null|    null|   null|                null|          null| null|           null|           null|            null|  null|       null|                      null|       null|       null|          null|     null|     null|    null|             null|   null|
|  null|      null|              health| and innovation s...|      null|      null|      null|      null|               null|    null|   null|                null|          null| null|           null|           null|            null|  null|       null|                      null|       null|       null|          null|     null|     null|    null|             null|   null|
|  null|      null|                null|                null|      null|      null|      null|      null|               null|    null|   null|                null|          null| null|           null|           null|            null|  null|       null|                      null|       null|       null|          null|     null|     null|    null|             null|   null|
|  null|      null|                null|                null|      null|      null|      null|      null|               null|    null|   null|                null|          null| null|           null|           null|            null|  null|       null|                      null|       null|       null|          null|     null|     null|    null|             null|   null|
|  null|      null|                null|                null|      null|      null|      null|      null|               null|    null|   null|                null|          null| null|           null|           null|            null|  null|       null|                      null|       null|       null|          null|     null|     null|    null|             null|   null|
|  null|      null| educate and trai...| conducting repai...|      null|      null|      null|      null|               null|    null|   null|                null|          null| null|           null|           null|            null|  null|       null|                      null|       null|       null|          null|     null|     null|    null|             null|   null|
|  null|      null|                null|                null|      null|      null|      null|      null|               null|    null|   null|                null|          null| null|           null|           null|            null|  null|       null|                      null|       null|       null|          null|     null|     null|    null|             null|   null|
|  null|      null|            courtesy| and discretion. ...|      null|      null|      null|      null|               null|    null|   null|                null|          null| null|           null|           null|            null|  null|       null|                      null|       null|       null|          null|     null|     null|    null|             null|   null|
|  null|      null|           and more!|                null|      null|      null|      null|      null|               null|    null|   null|                null|          null| null|           null|           null|            null|  null|       null|                      null|       null|       null|          null|     null|     null|    null|             null|   null|
|  null|      null|                null|                null|      null|      null|      null|      null|               null|    null|   null|                null|          null| null|           null|           null|            null|  null|       null|                      null|       null|       null|          null|     null|     null|    null|             null|   null|
+------+----------+--------------------+--------------------+----------+----------+----------+----------+-------------------+--------+-------+--------------------+--------------+-----+---------------+---------------+----------------+------+-----------+--------------------------+-----------+-----------+--------------+---------+---------+--------+-----------------+-------+
only showing top 10 rows

In [5]:
df_posting.printSchema()

root
 |-- job_id: integer (nullable = true)
 |-- company_id: integer (nullable = true)
 |-- title: string (nullable = true)
 |-- description: string (nullable = true)
 |-- max_salary: float (nullable = true)
 |-- med_salary: float (nullable = true)
 |-- min_salary: float (nullable = true)
 |-- pay_period: string (nullable = true)
 |-- formatted_work_type: string (nullable = true)
 |-- location: string (nullable = true)
 |-- applies: integer (nullable = true)
 |-- original_listed_time: timestamp (nullable = true)
 |-- remote_allowed: string (nullable = true)
 |-- views: integer (nullable = true)
 |-- job_posting_url: string (nullable = true)
 |-- application_url: string (nullable = true)
 |-- application_type: string (nullable = true)
 |-- expiry: timestamp (nullable = true)
 |-- closed_time: timestamp (nullable = true)
 |-- formatted_experience_level: string (nullable = true)
 |-- skills_desc: string (nullable = true)
 |-- listed_time: timestamp (nullable = true)
 |-- posting_domain: string (nullable = true)
 |-- sponsored: integer (nullable = true)
 |-- work_type: string (nullable = true)
 |-- currency: string (nullable = true)
 |-- compensation_type: string (nullable = true)
 |-- scraped: integer (nullable = true)

In [6]:
df_posting = df_posting.repartition(10)

In [8]:
df_posting.write.parquet("./data/pq-linkedin-job-postings/pq_job_postings/", mode="overwrite")

### company_details/companies.csv

In [10]:
companies_schema=StructType([
    StructField("company_id", IntegerType(), True), 
    StructField("name", StringType(), True),
    StructField("description", StringType(), True),
    StructField("company_size", IntegerType(), True),  
    StructField("state", StringType(), True),
    StructField("country", StringType(), True),
    StructField("city", StringType(), True),
    StructField("zip_code", StringType(), True), 
    StructField("address", StringType(), True),
    StructField("url", StringType(), True)
])



df_companies = spark.read \
    .option("header", "true") \
    .schema(companies_schema) \
    .csv("./data/linkedin-job-postings/company_details/companies.csv") 


df_companies.show(10)

+----------+--------------------+--------------------+------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+
|company_id|                name|         description|company_size|               state|             country|                city|            zip_code|             address|                 url|
+----------+--------------------+--------------------+------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+
|      1009|                 IBM|At IBM, we do mor...|        null|                null|                null|                null|                null|                null|                null|
|      null|                   7|                  NY|        null|    Armonk, New York|               10504|International Bus...|https://www.linke...|                null|                null|
|      1016|       GE HealthCare|Every day million...|        null|                null|                null|                null|                null|                null|                null|
|      null|000 employees glo...| the company oper...|        null| helping drive pr...|           providers| health systems a...|                null|                null|                null|
|      null|        transparency| integrity and di...|           7|                   0|                  US|             Chicago|                   0|                   -|https://www.linke...|
|      1021|            GE Power|GE Power, part of...|           7|                  NY|                  US|         Schenectady|               12345|        1 River Road|https://www.linke...|
|      1025|Hewlett Packard E...|Official LinkedIn...|           7|               Texas|                  US|             Houston|               77389|1701 E Mossy Oaks...|https://www.linke...|
|      1028|              Oracle|We’re a cloud tec...|        null|                null|                null|                null|                null|                null|                null|
|      null|            security| and cost savings...|        null| attain sustainab...| and become more ...|                null|                null|                null|                null|
|      null| and advance scie...| millions of peop...|        null| quickly pivot to...| and connect data...|                null|                null|                null|                null|
+----------+--------------------+--------------------+------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+
only showing top 10 rows

In [12]:
df_companies.printSchema()

root
 |-- company_id: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- description: string (nullable = true)
 |-- company_size: integer (nullable = true)
 |-- state: string (nullable = true)
 |-- country: string (nullable = true)
 |-- city: string (nullable = true)
 |-- zip_code: string (nullable = true)
 |-- address: string (nullable = true)
 |-- url: string (nullable = true)

In [13]:
df_companies.repartition(5).write.parquet("./data/pq-linkedin-job-postings/pq_companies/", mode="overwrite")

### company_details/company_industries.csv

In [ ]:
company_industry_schema=StructType([
    StructField("company_id", IntegerType(), True), 
    StructField("industry", StringType(), True)
])

In [16]:
df_company_industry = pd.read_csv("./data/linkedin-job-postings/company_details/company_industries.csv")
df_company_industry.head(5)

   company_id                               industry
0    81149246                       Higher Education
1    10033339      Information Technology & Services
2     6049228                             Accounting
3     2641066  Electrical & Electronic Manufacturing
4    96649998                Marketing & Advertising

In [17]:
df_employee_counts = pd.read_csv("./data/linkedin-job-postings/company_details/employee_counts.csv")
df_employee_counts.head(5)

   company_id  employee_count  follower_count  time_recorded
0    81149246               6              91   1.692645e+09
1    10033339               3             187   1.692645e+09
2     6049228              20              82   1.692645e+09
3     2641066              45            2336   1.692645e+09
4    96649998               0               2   1.692645e+09

In [18]:
df_benefits = pd.read_csv("./data/linkedin-job-postings/job_details/benefits.csv")
df_benefits.head(5)

       job_id  inferred                  type
0  3690843087         0     Medical insurance
1  3690843087         0      Dental insurance
2  3690843087         0                401(k)
3  3690843087         0  Paid maternity leave
4  3690843087         0  Disability insurance

In [20]:
df_job_industries = pd.read_csv("./data/linkedin-job-postings/job_details/job_industries.csv")
df_job_industries.head(5)

       job_id  industry_id
0  3378133231           68
1  3497509795           96
2  3690843087           47
3  3691775263          112
4  3691779379           80

In [21]:
df_job_skills = pd.read_csv("./data/linkedin-job-postings/job_details/job_skills.csv")
df_job_skills.head(5)

       job_id skill_abr
0  3690843087      ACCT
1  3690843087       FIN
2  3691763971      MGMT
3  3691763971      MNFC
4  3691775263      MGMT

In [22]:
df_salaries = pd.read_csv("./data/linkedin-job-postings/job_details/salaries.csv")
df_salaries.head(5)

,salary_id,job_id,max_salary,med_salary,min_salary,pay_period,currency,compensation_type
0,1,3378133231,30.0,NaN,22.0,HOURLY,USD,BASE_SALARY
1,2,3690843087,65000.0,NaN,55000.0,YEARLY,USD,BASE_SALARY
2,3,3691794313,22.0,NaN,19.0,HOURLY,USD,BASE_SALARY
3,4,3691795389,70000.0,NaN,68000.0,YEARLY,USD,BASE_SALARY
4,5,3691797089,22.0,NaN,18.0,HOURLY,USD,BASE_SALARY

In [23]:
df_industries = pd.read_csv("./data/linkedin-job-postings/maps/industries.csv")
df_industries.head(5)

   industry_id                         industry_name
0            1       Defense and Space Manufacturing
1            3       Computer Hardware Manufacturing
2            4                  Software Development
3            5          Computer Networking Products
4            6  Technology, Information and Internet

In [24]:
df_skills = pd.read_csv("./data/linkedin-job-postings/maps/skills.csv")
df_skills.head(5)

  skill_abr         skill_name
0      PRCH         Purchasing
1      SUPL       Supply Chain
2        PR   Public Relations
3       SCI            Science
4      STRA  Strategy/Planning

In [32]:
spark.stop()