BT Career Challenge

1. Check the data, adjust data, delete null value

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn

from sklearn.preprocessing import OneHotEncoder
from sklearn.linear_model import LogisticRegression

from sklearn.metrics import roc_curve
from sklearn.metrics import roc_auc_score

In [2]:
df_customer = pd.read_csv('./Data set.csv')
df_customer

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Monthtomonth,Yes,Electronic check,29.85,29.85,No
1,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Monthtomonth,Yes,Mailed check,53.85,108.15,Yes
2,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Monthtomonth,Yes,Electronic check,70.70,151.65,Yes
3,9305-CDSKC,Female,0,No,No,8,Yes,Yes,Fiber optic,No,...,Yes,No,Yes,Yes,Monthtomonth,Yes,Electronic check,99.65,820.5,Yes
4,1452-KIOVK,Male,0,No,Yes,22,Yes,Yes,Fiber optic,No,...,No,No,Yes,No,Monthtomonth,Yes,Credit card (automatic),89.10,1949.4,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,4807-IZYOZ,Female,0,No,No,51,Yes,No,No,No internet service,...,No internet service,No internet service,No internet service,No internet service,Two year,No,Bank transfer (automatic),20.65,1020.75,No
7039,9710-NJERN,Female,0,No,No,39,Yes,No,No,No internet service,...,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,20.15,826,No
7040,9281-CEDRU,Female,0,Yes,No,68,Yes,No,DSL,No,...,No,Yes,Yes,No,Two year,No,Bank transfer (automatic),64.10,4326.25,No
7041,2569-WGERO,Female,0,No,No,72,Yes,No,No,No internet service,...,No internet service,No internet service,No internet service,No internet service,Two year,Yes,Bank transfer (automatic),21.15,1419.4,No
7042,3186-AJIEK,Male,0,No,No,66,Yes,No,Fiber optic,Yes,...,Yes,Yes,Yes,Yes,Two year,Yes,Bank transfer (automatic),105.65,6844.5,No

In [3]:
df_customer.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            7043 non-null   object
 2   SeniorCitizen     7043 non-null   int64
 3   Partner           7043 non-null   object
 4   Dependents        7043 non-null   object
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   object
 7   MultipleLines     7043 non-null   object
 8   InternetService   7043 non-null   object
 9   OnlineSecurity    7043 non-null   object
 10  OnlineBackup      7043 non-null   object
 11  DeviceProtection  7043 non-null   object
 12  TechSupport       7043 non-null   object
 13  StreamingTV       7043 non-null   object
 14  StreamingMovies   7043 non-null   object
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   object
 17  PaymentMethod     7043 non-null   object
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7043 non-null   object
 20  Churn             7043 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.1+ MB

In [4]:
df_customer['gender'] = df_customer['gender'].apply(lambda x: 0 if x=='Female' else 1)
df_customer['Partner'] = df_customer['Partner'].apply(lambda x: 0 if x=='No' else 1)
df_customer['Dependents'] = df_customer['Dependents'].apply(lambda x: 0 if x=='No' else 1)
df_customer['PhoneService'] = df_customer['PhoneService'].apply(lambda x: 0 if x=='No' else 1)

df_customer['MultipleLines'] = df_customer['MultipleLines'].apply(lambda x: 0 if x=='No' else (0.5 if x=='No phone service' else 1))
df_customer['InternetService'] = df_customer['InternetService'].apply(lambda x: 0 if x=='No' else (0.5 if x=='DSL' else 1))
df_customer['OnlineSecurity'] = df_customer['OnlineSecurity'].apply(lambda x: 0 if x=='No' else (0.5 if x=='No internet service' else 1))
df_customer['OnlineBackup'] = df_customer['OnlineBackup'].apply(lambda x: 0 if x=='No' else (0.5 if x=='No internet service' else 1))
df_customer['DeviceProtection'] = df_customer['DeviceProtection'].apply(lambda x: 0 if x=='No' else (0.5 if x=='No internet service' else 1))
df_customer['TechSupport'] = df_customer['TechSupport'].apply(lambda x: 0 if x=='No' else (0.5 if x=='No internet service' else 1))
df_customer['StreamingTV'] = df_customer['StreamingTV'].apply(lambda x: 0 if x=='No' else (0.5 if x=='No internet service' else 1))
df_customer['StreamingMovies'] = df_customer['StreamingMovies'].apply(lambda x: 0 if x=='No' else (0.5 if x=='No internet service' else 1))


df_customer['PaperlessBilling'] = df_customer['PaperlessBilling'].apply(lambda x: 0 if x=='No' else 1)
df_customer['Churn'] = df_customer['Churn'].apply(lambda x: 0 if x=='No' else 1)

In [5]:
df_customer.sample(5)

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
5235,0859-YGKFW,1,0,1,1,18,1,0.0,0.0,0.5,...,0.5,0.5,0.5,0.5,One year,0,Bank transfer (automatic),20.05,345.9,0
3192,4583-PARNH,1,1,1,0,16,1,0.0,1.0,0.0,...,1.0,1.0,0.0,1.0,Monthtomonth,1,Electronic check,91.55,1540.05,0
1561,6985-HAYWX,0,0,1,0,26,1,1.0,1.0,0.0,...,0.0,0.0,0.0,0.0,Monthtomonth,0,Bank transfer (automatic),79.30,2015.8,0
6085,7663-CUXZB,1,0,1,0,59,1,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,Two year,0,Electronic check,113.75,6561.25,0
6517,5304-EFJLP,1,1,1,0,72,1,1.0,1.0,0.0,...,1.0,1.0,1.0,1.0,Two year,1,Bank transfer (automatic),111.65,8022.85,0

In [6]:
df_customer["TotalCharges"] = pd.to_numeric(df_customer.TotalCharges,errors = 'coerce')

In [7]:
df_customer.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            7043 non-null   int64
 2   SeniorCitizen     7043 non-null   int64
 3   Partner           7043 non-null   int64
 4   Dependents        7043 non-null   int64
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   int64
 7   MultipleLines     7043 non-null   float64
 8   InternetService   7043 non-null   float64
 9   OnlineSecurity    7043 non-null   float64
 10  OnlineBackup      7043 non-null   float64
 11  DeviceProtection  7043 non-null   float64
 12  TechSupport       7043 non-null   float64
 13  StreamingTV       7043 non-null   float64
 14  StreamingMovies   7043 non-null   float64
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   int64
 17  PaymentMethod     7043 non-null   object
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7032 non-null   float64
 20  Churn             7043 non-null   int64
dtypes: float64(10), int64(8), object(3)
memory usage: 1.1+ MB

In [8]:
df_customer.dropna()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,0,0,1,0,1,0,0.5,0.5,0.0,...,0.0,0.0,0.0,0.0,Monthtomonth,1,Electronic check,29.85,29.85,0
1,3668-QPYBK,1,0,0,0,2,1,0.0,0.5,1.0,...,0.0,0.0,0.0,0.0,Monthtomonth,1,Mailed check,53.85,108.15,1
2,9237-HQITU,0,0,0,0,2,1,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,Monthtomonth,1,Electronic check,70.70,151.65,1
3,9305-CDSKC,0,0,0,0,8,1,1.0,1.0,0.0,...,1.0,0.0,1.0,1.0,Monthtomonth,1,Electronic check,99.65,820.50,1
4,1452-KIOVK,1,0,0,1,22,1,1.0,1.0,0.0,...,0.0,0.0,1.0,0.0,Monthtomonth,1,Credit card (automatic),89.10,1949.40,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,4807-IZYOZ,0,0,0,0,51,1,0.0,0.0,0.5,...,0.5,0.5,0.5,0.5,Two year,0,Bank transfer (automatic),20.65,1020.75,0
7039,9710-NJERN,0,0,0,0,39,1,0.0,0.0,0.5,...,0.5,0.5,0.5,0.5,Two year,0,Mailed check,20.15,826.00,0
7040,9281-CEDRU,0,0,1,0,68,1,0.0,0.5,0.0,...,0.0,1.0,1.0,0.0,Two year,0,Bank transfer (automatic),64.10,4326.25,0
7041,2569-WGERO,0,0,0,0,72,1,0.0,0.0,0.5,...,0.5,0.5,0.5,0.5,Two year,1,Bank transfer (automatic),21.15,1419.40,0
7042,3186-AJIEK,1,0,0,0,66,1,0.0,1.0,1.0,...,1.0,1.0,1.0,1.0,Two year,1,Bank transfer (automatic),105.65,6844.50,0

In [17]:
df_customer_clean = pd.get_dummies(df_customer,columns=['Contract','PaymentMethod'])
df_customer_clean

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,MonthlyCharges,TotalCharges,Churn,Contract_Monthtomonth,Contract_One year,Contract_Two year,PaymentMethod_Bank transfer (automatic),PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check
0,7590-VHVEG,0,0,1,0,1,0,0.5,0.5,0.0,...,29.85,29.85,0,1,0,0,0,0,1,0
1,3668-QPYBK,1,0,0,0,2,1,0.0,0.5,1.0,...,53.85,108.15,1,1,0,0,0,0,0,1
2,9237-HQITU,0,0,0,0,2,1,0.0,1.0,0.0,...,70.70,151.65,1,1,0,0,0,0,1,0
3,9305-CDSKC,0,0,0,0,8,1,1.0,1.0,0.0,...,99.65,820.50,1,1,0,0,0,0,1,0
4,1452-KIOVK,1,0,0,1,22,1,1.0,1.0,0.0,...,89.10,1949.40,0,1,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,4807-IZYOZ,0,0,0,0,51,1,0.0,0.0,0.5,...,20.65,1020.75,0,0,0,1,1,0,0,0
7039,9710-NJERN,0,0,0,0,39,1,0.0,0.0,0.5,...,20.15,826.00,0,0,0,1,0,0,0,1
7040,9281-CEDRU,0,0,1,0,68,1,0.0,0.5,0.0,...,64.10,4326.25,0,0,0,1,1,0,0,0
7041,2569-WGERO,0,0,0,0,72,1,0.0,0.0,0.5,...,21.15,1419.40,0,0,0,1,1,0,0,0
7042,3186-AJIEK,1,0,0,0,66,1,0.0,1.0,1.0,...,105.65,6844.50,0,0,0,1,1,0,0,0

In [18]:
df_customer_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 26 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   customerID                               7043 non-null   object
 1   gender                                   7043 non-null   int64
 2   SeniorCitizen                            7043 non-null   int64
 3   Partner                                  7043 non-null   int64
 4   Dependents                               7043 non-null   int64
 5   tenure                                   7043 non-null   int64
 6   PhoneService                             7043 non-null   int64
 7   MultipleLines                            7043 non-null   float64
 8   InternetService                          7043 non-null   float64
 9   OnlineSecurity                           7043 non-null   float64
 10  OnlineBackup                             7043 non-null   float64
 11  DeviceProtection                         7043 non-null   float64
 12  TechSupport                              7043 non-null   float64
 13  StreamingTV                              7043 non-null   float64
 14  StreamingMovies                          7043 non-null   float64
 15  PaperlessBilling                         7043 non-null   int64
 16  MonthlyCharges                           7043 non-null   float64
 17  TotalCharges                             7032 non-null   float64
 18  Churn                                    7043 non-null   int64
 19  Contract_Monthtomonth                    7043 non-null   uint8
 20  Contract_One year                        7043 non-null   uint8
 21  Contract_Two year                        7043 non-null   uint8
 22  PaymentMethod_Bank transfer (automatic)  7043 non-null   uint8
 23  PaymentMethod_Credit card (automatic)    7043 non-null   uint8
 24  PaymentMethod_Electronic check           7043 non-null   uint8
 25  PaymentMethod_Mailed check               7043 non-null   uint8
dtypes: float64(10), int64(8), object(1), uint8(7)
memory usage: 1.1+ MB

2. Modelling

In [19]:
X = df_customer_clean.drop(columns = ['customerID','Churn']).copy().astype(float)
Y = np.ravel(df_customer_clean[['Churn']])

In [20]:
X

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,...,PaperlessBilling,MonthlyCharges,TotalCharges,Contract_Monthtomonth,Contract_One year,Contract_Two year,PaymentMethod_Bank transfer (automatic),PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check
0,0.0,0.0,1.0,0.0,1.0,0.0,0.5,0.5,0.0,1.0,...,1.0,29.85,29.85,1.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1.0,0.0,0.0,0.0,2.0,1.0,0.0,0.5,1.0,1.0,...,1.0,53.85,108.15,1.0,0.0,0.0,0.0,0.0,0.0,1.0
2,0.0,0.0,0.0,0.0,2.0,1.0,0.0,1.0,0.0,0.0,...,1.0,70.70,151.65,1.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,8.0,1.0,1.0,1.0,0.0,0.0,...,1.0,99.65,820.50,1.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1.0,0.0,0.0,1.0,22.0,1.0,1.0,1.0,0.0,1.0,...,1.0,89.10,1949.40,1.0,0.0,0.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,0.0,0.0,0.0,0.0,51.0,1.0,0.0,0.0,0.5,0.5,...,0.0,20.65,1020.75,0.0,0.0,1.0,1.0,0.0,0.0,0.0
7039,0.0,0.0,0.0,0.0,39.0,1.0,0.0,0.0,0.5,0.5,...,0.0,20.15,826.00,0.0,0.0,1.0,0.0,0.0,0.0,1.0
7040,0.0,0.0,1.0,0.0,68.0,1.0,0.0,0.5,0.0,1.0,...,0.0,64.10,4326.25,0.0,0.0,1.0,1.0,0.0,0.0,0.0
7041,0.0,0.0,0.0,0.0,72.0,1.0,0.0,0.0,0.5,0.5,...,1.0,21.15,1419.40,0.0,0.0,1.0,1.0,0.0,0.0,0.0
7042,1.0,0.0,0.0,0.0,66.0,1.0,0.0,1.0,1.0,0.0,...,1.0,105.65,6844.50,0.0,0.0,1.0,1.0,0.0,0.0,0.0

In [21]:
Y

array([0, 1, 1, ..., 0, 0, 0], dtype=int64)

In [22]:
# training and test sets
X_train, X_test, Y_train, Y_test = sklearn.model_selection.train_test_split(X, Y, test_size=0.20, random_state=23)

In [23]:
X_train

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,...,PaperlessBilling,MonthlyCharges,TotalCharges,Contract_Monthtomonth,Contract_One year,Contract_Two year,PaymentMethod_Bank transfer (automatic),PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check
6797,0.0,0.0,0.0,1.0,43.0,1.0,1.0,0.0,0.5,0.5,...,1.0,25.10,1070.15,0.0,0.0,1.0,0.0,0.0,1.0,0.0
6847,1.0,0.0,0.0,0.0,60.0,1.0,1.0,1.0,0.0,0.0,...,1.0,89.55,5231.20,0.0,0.0,1.0,0.0,0.0,1.0,0.0
5699,1.0,0.0,0.0,1.0,41.0,1.0,0.0,1.0,1.0,1.0,...,1.0,111.15,4507.15,0.0,0.0,1.0,0.0,0.0,1.0,0.0
6221,0.0,0.0,0.0,0.0,49.0,1.0,0.0,0.5,0.0,0.0,...,1.0,74.45,3721.90,0.0,0.0,1.0,1.0,0.0,0.0,0.0
1048,0.0,0.0,1.0,0.0,46.0,0.0,0.5,0.5,0.0,0.0,...,1.0,43.95,2007.85,1.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2998,0.0,0.0,0.0,0.0,15.0,1.0,0.0,1.0,0.0,0.0,...,1.0,94.00,1505.45,1.0,0.0,0.0,0.0,1.0,0.0,0.0
1993,0.0,0.0,0.0,0.0,12.0,1.0,1.0,1.0,0.0,0.0,...,1.0,100.15,1164.30,1.0,0.0,0.0,1.0,0.0,0.0,0.0
1064,0.0,1.0,1.0,1.0,22.0,1.0,1.0,1.0,0.0,0.0,...,0.0,85.35,1961.60,1.0,0.0,0.0,1.0,0.0,0.0,0.0
4838,0.0,0.0,0.0,0.0,23.0,1.0,0.0,0.0,0.5,0.5,...,1.0,19.65,478.10,0.0,1.0,0.0,0.0,1.0,0.0,0.0
595,0.0,0.0,0.0,0.0,2.0,1.0,0.0,0.5,0.0,1.0,...,1.0,49.05,91.10,1.0,0.0,0.0,0.0,1.0,0.0,0.0

In [24]:
# one tempt, check if gender, seniorcitizen, partner, contract have relationship with churn
X_gender_member = X_train[['gender','SeniorCitizen','Partner','Contract_Monthtomonth','Contract_One year','Contract_Two year']]
X_gender_membe_test = X_test[['gender','SeniorCitizen','Partner','Contract_Monthtomonth','Contract_One year','Contract_Two year']]

In [25]:
log_Reg = LogisticRegression()

In [27]:
log_Reg.fit(X_gender_member,Y_train)

LogisticRegression()

In [ ]:
def score